<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <mirrors>
        <mirror>
            <id>central</id>
            <mirrorOf>*</mirrorOf>
            <url>https://repo.maven.apache.org/maven2</url>
        </mirror>

    </mirrors>

    <profiles>
        <profile>
            <id>tripfolio-default</id>

            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>

                <!-- ✅ Spring Repositories -->
                <repository>
                    <id>spring-releases</id>
                    <url>https://repo.spring.io/release</url>
                </repository>
                <repository>
                    <id>spring-milestones</id>
                    <url>https://repo.spring.io/milestone</url>
                </repository>
                <repository>
                    <id>spring-snapshots</id>
                    <url>https://repo.spring.io/snapshot</url>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                </pluginRepository>
                <pluginRepository>
                    <id>spring-plugins</id>
                    <url>https://repo.spring.io/plugins-release</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <!-- ✅ Automatically activate our TripFolio profile -->
    <activeProfiles>
        <activeProfile>tripfolio-default</activeProfile>
    </activeProfiles>
</settings>
